canvas {
    border:1px solid #d3d3d3;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJKaKcXKqIn6QpveN9h0TtvcRvIrFBliCXxMxZAuaogqpuzR2Q");
    background-size: cover;
    background-repeat: no-repeat;
}